<div id="<%= dom_id book %>">
  <div class="content">
    <strong>Title:</strong>
    <%= book.title %>
    <strong>Author:</strong>
    <%= book.author %>
    <strong>Price:</strong>
    <%= book.price %>
    <strong>Date:</strong>
    <%= book.date %>
  </div>
</div>
